{% extends 'base.html' %}

{% block content %}
<script type="text/JavaScript" src="js/script.js"></script>

<div class="container-md min-vh-100 d-flex item-align-center gap-5">
  <div class="my-auto mx-auto">
    <h3>Add Wishlist</h3>
    <form method="post" id="wishlist-form">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nama_barang" class="form-label">Nama Barang</label>
        <input
          type="text"
          class="form-control"
          placeholder="Masukkan nama barang"
          name="nama_barang"
          id="nama_barang"
        />
      </div>
      <div class="mb-3">
        <label for="harga_barang" class="form-label">Harga Barang</label>
        <input
          type="text"
          class="form-control"
          placeholder="Masukkan harga barang"
          name="harga_barang"
          id="harga_barang"
        />
      </div>
      <div class="mb-3">
        <label for="deskripsi" class="form-label">Deskripsi</label>
        <input
          type="text"
          class="form-control"
          placeholder="Masukkan deskripsi barang"
          name="deskripsi"
          id="deskripsi"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="my-auto w-100">
    <div class="d-flex gap-3 mb-3">
      <h5>Nama:</h5>
      <span class="badge bg-secondary"><h6>{{nama}}</h6></span>
    </div>

    <table class="table table-hover" id="table-wishlist">
      <tr class="table-primary">
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
      </tr>
    </table>
    <h6 class="alert alert-info">Sesi terakhir login: {{ last_login }}</h6>
    <button class="btn btn-outline-primary">
      <a
        href="{% url 'wishlist:logout' %}"
        class="text-decoration-none text-blue"
        >Logout</a
      >
    </button>
  </div>
</div>

{% endblock content %}